.footer_wrap {
  background: #222;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 60px;
  margin-top: 0!important;

  .footer_inner {
    margin: 0;
    padding: 80px 0;
    width: auto;
    position: relative;
    content: '';
    display: block;
    clear: both;

    .sect_sns {
      margin-left: 0;
      position: relative;
      padding: 0;
      margin: 0;
      border: none;
      background: 0 0;
      outline: 0;
      cursor: pointer;
      float: left;
      display: block;

      .sns_f{
        width: 32px;
        height: 32px;
      
        & > span {
          background: url('../Images/kukka.png') no-repeat -1150px -612px;
          width: 48px;
          height: 48px;
        }
      }

      .sns_i{
        width: 32px;
        height: 32px;

        .blind::before {
          background: url('../Images/kukka.png');
          background-position: -1214px -438px;
          width: 32px;
          height: 32px;
          background-size: 1252px 845px;
        }
      }

      .sns_y{
        width: 32px;
        height: 32px;

        .blind::before {
          background: url('../Images/kukka.png');
          background-position: -1164px -685px;
          width: 32px;
          height: 32px;
          background-size: 1252px 845px;
        }
      }
    }

    .contact {
      margin-top: 14px;
      float: left;
      margin: 0;
      padding: 0;

      & > dt {
        float: left;
        display: block;
        font-size: 22px;
        line-height: 33px;
        font-weight: 500;
        letter-spacing: -.33px;
        color: #f7f7f7;
      }
      
      .f {
        margin-left: 20px;
        float: left;
        display: block;
        font-size: 22px;
        line-height: 33px;
        font-weight: 300;
        letter-spacing: -.33px;
        color: #f7f7f7;
      }

      .s {
        margin-left: 10px;
        float: left;
        display: block;
        margin-top: 0;
        font-size: 14px;
        line-height: 33px;
        font-weight: 300;
        letter-spacing: -.21px;
        color: #9b9b9b;
      }

      .add_partner_tel {
        float: none;
        clear: both;
        padding: 5px 0 0;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        font-weight: 100;
        display: block;
        margin-top: 0;
        letter-spacing: -.21px;
        margin-left: 0;
      }
    }

    .faq {
      margin-top: 12px;
      margin-left: 17px;
      float: left;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
      margin-top: -5px;

      & > a {
        padding: 0 20px;
        border: #9b9b9b 1px solid;
        border-radius: 18px;
        cursor: pointer;
        font-size: 13px;
        line-height: 36px;
        font-weight: 300;
        letter-spacing: -.2px;
        background: 0 0;
        outline: 0;
        display: block;
        height: 36px;
        color: #fff;
        float: left;
        margin: 0;
        height: 36px;
        text-decoration: none;
      }
    }

    .about {
      margin-top: 20px;
      clear: both;
      position: relative;
      padding: 40px 0 0;
      border-top: none;
      margin: 0;
      outline-width: 1px;

      .logo {
        position: absolute;
        top: -60px;
        right: 0;
        background: url('../Images/kukka.png') no-repeat 0 -612px;
        width: 150px;
        height: 63px;
        background-position: 0 -612px;
        width: 150px;
        height: 63px;
        background-size: 1252px 845px;
        margin: 0;
        padding: 0;
        outline-width: 1px;
      }
    }

    .about > dd {
      margin-right: 18px;
      font-size: 14px;
      line-height: 25px;
      font-weight: 300;
      letter-spacing: -.21px;
      position: relative;
      display: inline-block;
      color: #d3d3d3;
      padding: 0;
      outline-width: 1px;
      margin-left: 0px;
    }

    .about > dd:nth-child(3) {
      margin: 0px;
      font-size: 14px;
      line-height: 25px;
      font-weight: 300;
      letter-spacing: -.21px;
      position: relative;
      display: inline-block;
      color: #d3d3d3;
      padding: 0;
      outline-width: 1px;
      margin-right: 18px;
    }

    .about > dd::after {
      content: '';
      display: block;
      position: absolute;
      top: 6px;
      right: -10px;
      width: 1px;
      height: 13px;
      background: #d3d3d3;
    }

    .about > dd:last-child::after {
      display: none;
    }

    .about::before {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      height: 1px;
      background: #444;
    }    

    address {
      margin: 0;
      font-style: normal;
      line-height: inherit;
    }

    .about>dd>a {
      color: #d3d3d3;
      text-decoration: none;
      outline-width: 1px;
    }

    .about>dd.end:after {
      display: none;
    }
  }

  .tems{
    position: absolute;
    bottom: 82px;
    right: 0;
  }

  .link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 200;
    letter-spacing: -.21px;
    color: #fff;
    text-decoration: none;
    outline-width: 1px;
  }

  .link+.link {
    margin-left: 25px;
  }
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
  cursor: pointer;
}