body {
  font-family: 'Noto Sans KR',sans-serif,NanumGothic,'나눔고딕',Dotum,'돋움',Helvetica,"Apple SD Gothic Neo";
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

#doubleImg {
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

#pageInfo {
  background: #222;
  margin: 0 auto;
  padding: 0 60px;
  margin-top: 0!important;
  flex-direction: column;
}
